body{
    background-image: url("images/bmw.jpg");
    background-attachment:fixed;
    backgroung-repeat:no-repeat;background-size:cover;
}

#tab{
    color:black;
    background-color:white;
    margin-left:200px;
    margin-top:200px;
    opacity:0.9;

    width:500px;
}
#img1{
    height:300px;
    width:600px;
}
td{
    margin:-220px;
}




.nav{
    float: right;
    color: red;
}

.navbar-default {
    background-color: black;
}

#headcar{
    margin:-20px;
    padding-left:30px;
    padding-top:25px;
    font-weight:600px;
}

.navbar-inner {
    background:white;
    border: 0px;
}

.imgset{

    display: none;
    display: inline;
    position:relative;
    width:100%;
    height:600px;
    align-content:center;
    background-position: center;
    opacity: 1;
}

.bg{

    background-color:black;
    display: inline-block;
    min-height: 600px;
}


.content{

    position:absolute;
    text-align:center;
    top:400px;
    left:600px;
}

.btn{

    margin-right:100px;
    border-radius: 0px;
}

#dashb{
    background-color: #2a88bd;
    border: 0px outset #2a88bd;
    margin-left:961px;
}
#dashb:hover{
    color: #fff;
    border: 0px outset rgba(0, 0, 0, 0.9);
    background: rgba(0,0,0, 0.9);
}

#logout{
    background-color: #2a88bd;
    border: 0px outset #2a88bd;
}
#logout:hover{
    color: #fff;
    border: 0px outset rgba(0, 0, 0, 0.9);
    background: rgba(0,0,0, 0.9);
}

#login{
    background-color: #2a88bd;
    border: 0px outset #2a88bd;
}
#login:hover{
    color: #fff;
    border: 0px outset rgba(0, 0, 0, 0.9);
    background: rgba(0,0,0, 0.9);
}

.btn-lg{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#theading{
    padding-left:200px;
}

#bidb{
    padding-left:160px;
    height:50px;
}
